@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
     font-family: 'Protest Riot', sans-serif;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
} 
   body {
    margin: 0;
    background-image: url(/Dew\ drops\ on\ green\ leaves_.jpg);
    background-size: cover; 
  }
  header{
    position: sticky;
    top: 1px;
  }
  
  nav {
    background-color: #142a0685;
  }
  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin: 10px;
  }

  .anav {
    text-decoration: none;
    color: white;
    font-size: 30px;
  }
  .anav:hover{
    font-size: 40px;
  }
  a:hover {
    color: #056f0e;
  }
  .btn{
    font-size: 25px;
    position: absolute;
    top: 4rem;
    right: 2rem;
    border-radius: 10px;
    background-color: #142a0685;
    color: aliceblue;
    padding: 9px;

  }
.btn1{
    font-size: 25px;
    position: absolute;
    top: 8rem;
    right: 2.2rem;
    border-radius: 10px;
    background-color: #142a0685;
    color: aliceblue;
    padding: 9px; 
}
button:hover{
   color: #056f0e;
}

h1{
    font-size: 3.2rem;
    color: aliceblue;
    position: absolute;
    left: 10cm;
    top: 12rem;
}
h1::selection{
   background-color: #056f0e;
}
h1:hover{
   font-size:3.5rem;
}
h2{
    font-size: 2.3rem;
    color: aliceblue;
    position: absolute;
    left: 12cm;
    top: 21rem;
    font-family:serif;
    font-style:unset;
}
h2::selection{
   background-color: #056f0e;
}
.p1{
    font-size: 2rem;
    color: aliceblue;
    position: absolute;
    left: 13cm;
    top: 24rem;
    font-family: serif;
}
.p1::selection{
   background-color: #056f0e;
}
h3{
    font-size: 1.8rem;
    color: aliceblue;
    position: absolute;
    left: 12cm;
    top: 36rem;
    font-family: serif;
}
h3::selection{
   background-color: #056f0e;
}
.p2{
    color: aliceblue;
    position: absolute;
    left: 13cm;
    top: 38rem;
    font-family: serif;
    font-size: 2rem;
}
.p2::selection{
   background-color: #056f0e;
}
.div1{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-image: url(/download\ \(2\).jpg);
    left: 15rem;
    top: 44rem;
    background-size: cover;
    border-radius: 2rem;
    outline: auto;
}
.span1{
    color: aliceblue;
    position: absolute;
    font-size: 2rem;
    top: 64rem;
    left: 16rem;
}
.div2{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-image: url(/traficlights.png);
    left: 40rem;
    top: 44rem;
    background-size: cover;
    border-radius: 2rem;
    outline: auto;   
}
.span2{
    color: aliceblue;
    position: absolute;
    font-size: 2rem;
    top: 64rem;
    left: 40rem; 
}
span::selection{
   background-color: #056f0e;
}
br::selection{
   background-color: #056f0e;
}
span:hover{
   font-size: 2.6rem;
}
button:hover{
   font-size: 2rem;
}

.div1:hover{
transform: scale(0.9);
}
.div2:hover{
transform: scale(0.9);
}
@media (max-width: 1338px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 26px;
    }
    .anav:hover{
      font-size: 32px;
    }
    .btn{
      font-size: 20px;
      position: absolute;
      top: 3rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 7px;
  
    }
    .btn1{
      font-size: 20px;
      position: absolute;
      top: 5.6rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 7px; 
  }
  h1{
   font-size: 2.4rem;
   color: aliceblue;
   position: absolute;
   left: 3cm;
   top: 6rem;
}
h1:hover{
   font-size:2.5rem;
}
h2{
   font-size: 2rem;
   color: aliceblue;
   position: absolute;
   left: 5cm;
   top: 10rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 1.5rem;
   color: aliceblue;
   position: absolute;
   left: 6cm;
   top: 13rem;
   font-family: serif;
}
h3{
   font-size: 1.8rem;
   color: aliceblue;
   position: absolute;
   left: 5cm;
   top: 21rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 24rem;
   left: 6cm;
   font-family: serif;
   font-size: 1.8rem;
}
.div1{
   position: absolute;
   width: 20rem;
   height: 20rem;
   background-image: url(/download\ \(2\).jpg);
   left: 12rem;
   top: 31rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 23rem;
   height: 22rem;
   background-image: url(/traficlights.png);
   left: 35rem;
   top: 30rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 2rem;
   top: 48rem;
   left: 7rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 2rem;
   top: 48rem;
   left: 57rem; 
}
}
@media (max-width:1029px)
{
   .anav {
      text-decoration: none;
      color: white;
      font-size: 26px;
    }
    .anav:hover{
      font-size: 32px;
    }
    .btn{
      font-size: 20px;
      position: absolute;
      top: 3rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 7px;
  
    }
    .btn1{
      font-size: 20px;
      position: absolute;
      top: 5.6rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 7px; 
  }
  h1{
   font-size: 2rem;
   color: aliceblue;
   position: absolute;
   left: 2cm;
   top: 5rem;
}
h1:hover{
   font-size:2.3rem;
}
h2{
   font-size: 2rem;
   color: aliceblue;
   position: absolute;
   left: 4cm;
   top: 8rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 1.5rem;
   color: aliceblue;
   position: absolute;
   left: 5cm;
   top: 11rem;
   font-family: serif;
}
h3{
   font-size: 1.6rem;
   color: aliceblue;
   position: absolute;
   left: 4cm;
   top: 19rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 21rem;
   left: 5cm;
   font-family: serif;
   font-size: 1.8rem;
}
.div1{
   position: absolute;
   width: 17rem;
   height: 17rem;
   background-image: url(/download\ \(2\).jpg);
   left: 12rem;
   top: 24rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 18rem;
   height: 17rem;
   background-image: url(/traficlights.png);
   left: 31rem;
   top: 24rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 2rem;
   top: 38rem;
   left: 7rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1.8rem;
   top: 38rem;
   left: 49rem; 
}  
}
@media(max-width:880px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 24px;
    }
    .anav:hover{
      font-size: 25px;
    }
    .btn{
      font-size: 18px;
      position: absolute;
      top: 2.4rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 7px;
  
    }
    .btn1{
      font-size: 18px;
      position: absolute;
      top: 5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 7px; 
  }
  h1{
   font-size: 1.8rem;
   color: aliceblue;
   position: absolute;
   left: 0.8cm;
   top: 4rem;
}
h1:hover{
   font-size:2rem;
}
h2{
   font-size: 1.7rem;
   color: aliceblue;
   position: absolute;
   left: 3cm;
   top: 6.6rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 1.5rem;
   color: aliceblue;
   position: absolute;
   left: 3.4cm;
   top: 9rem;
   font-family: serif;
}
h3{
   font-size: 1.5rem;
   color: aliceblue;
   position: absolute;
   left: 3cm;
   top: 16rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 18rem;
   left: 3.4cm;
   font-family: serif;
   font-size: 1.5rem;
}
.div1{
   position: absolute;
   width: 13rem;
   height: 13rem;
   background-image: url(/download\ \(2\).jpg);
   left: 9rem;
   top: 20rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 15rem;
   height: 15rem;
   background-image: url(/traficlights.png);
   left: 25rem;
   top: 19.5rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1.5rem;
   top: 30rem;
   left: 5rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1.4rem;
   top: 30rem;
   left: 40rem; 
}   
}
@media(max-width:754px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
    .anav:hover{
      font-size: 22px;
    }
    .btn{
      font-size: 18px;
      position: absolute;
      top: 2.4rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 7px;
  
    }
    .btn1{
      font-size: 18px;
      position: absolute;
      top: 5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 7px; 
  }
  h1{
   font-size: 1.5rem;
   color: aliceblue;
   position: absolute;
   left: 0.8cm;
   top: 2.5rem;
}
h1:hover{
   font-size:2rem;
}
h2{
   font-size: 1.5rem;
   color: aliceblue;
   position: absolute;
   left: 2cm;
   top: 4.7rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 1.2rem;
   color: aliceblue;
   position: absolute;
   left: 2.7cm;
   top: 7rem;
   font-family: serif;
}
h3{
   font-size: 1.1rem;
   color: aliceblue;
   position: absolute;
   left: 2cm;
   top: 13rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 14.4rem;
   left: 2.7cm;
   font-family: serif;
   font-size: 1.2rem;
}
.div1{
   position: absolute;
   width: 13rem;
   height: 13rem;
   background-image: url(/download\ \(2\).jpg);
   left: 5rem;
   top: 16rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 13rem;
   height: 13rem;
   background-image: url(/traficlights.png);
   left: 20rem;
   top: 16rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1.5rem;
   top: 25rem;
   left: 1.2rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1.4rem;
   top: 25rem;
   left: 33rem; 
} 
}
@media(max-width:602px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
    .anav:hover{
      font-size: 20px;
    }
    .btn{
      font-size: 15px;
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px;
  
    }
    .btn1{
      font-size: 15px;
      position: absolute;
      top: 3.5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px; 
  }
     h1{
    font-size: 1.2rem;
    color: aliceblue;
    position: absolute;
    left: 0.8cm;
    top: 2.1rem;
  }
h1:hover{
   font-size:1.8rem;
}
h2{
   font-size: 1.1rem;
   color: aliceblue;
   position: absolute;
   left: 1.5cm;
   top: 4rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 2cm;
   top: 5.5rem;
   font-family: serif;
}
h3{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 1.7cm;
   top: 10.4rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 11.5rem;
   left: 2cm;
   font-family: serif;
   font-size: 1rem;
}
.div1{
   position: absolute;
   width: 10rem;
   height: 10rem;
   background-image: url(/download\ \(2\).jpg);
   left: 1.5rem;
   top: 13rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 11rem;
   height: 11rem;
   background-image: url(/traficlights.png);
   left: 14rem;
   top: 13rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 1.2rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 25rem; 
}   
}
@media(max-width:494px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
    .anav:hover{
      font-size: 20px;
    }
    .btn{
      font-size: 15px;
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px;
  
    }
    .btn1{
      font-size: 15px;
      position: absolute;
      top: 3.8rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px; 
  }
     h1{
    font-size: 1.2rem;
    color: aliceblue;
    position: absolute;
    left: 0.8cm;
    top: 2.1rem;
  }
h1:hover{
   font-size:1.8rem;
}
h2{
   font-size: 1.1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 3.7rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 0.5cm;
   top: 5.5rem;
   font-family: serif;
}
h3{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 1.1cm;
   top: 10.4rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 11.5rem;
   left: 0.5cm;
   font-family: serif;
   font-size: 1rem;
}
.div1{
   position: absolute;
   width: 10rem;
   height: 10rem;
   background-image: url(/download\ \(2\).jpg);
   left: 1.5rem;
   top: 13rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 11rem;
   height: 11rem;
   background-image: url(/traficlights.png);
   left: 14rem;
   top: 13rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 1.2rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 25rem; 
}   
}
@media(max-width:454px){
   .span1{
      color: aliceblue;
      position: absolute;
      font-size: 1rem;
      top: 23rem;
      left: 1.2rem;
   }
   .span2{
      color: aliceblue;
      position: absolute;
      font-size: 1rem;
      top: 24rem;
      left: 20rem; 
   } 
}
@media(max-width:436px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
    .anav:hover{
      font-size: 20px;
    }
    .btn{
      font-size: 15px;
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px;
  
    }
    .btn1{
      font-size: 15px;
      position: absolute;
      top: 3.8rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px; 
  }
     h1{
    font-size: 1.2rem;
    color: aliceblue;
    position: absolute;
    left: 0.8cm;
    top: 2.2rem;
  }
h1:hover{
   font-size:1.8rem;
}
h2{
   font-size: 1.1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 4rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 0.2cm;
   top: 5.5rem;
   font-family: serif;
}
h3{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 12rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 13.2rem;
   left: 0.5cm;
   font-family: serif;
   font-size: 1rem;
}
.div1{
   position: absolute;
   width: 10rem;
   height: 10rem;
   background-image: url(/download\ \(2\).jpg);
   left: 9rem;
   top: 15rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 10rem;
   height: 11rem;
   background-image: url(/traficlights.png);
   left: 9rem;
   top: 26rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 6rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 30rem;
   left: 2rem; 
}   
}
@media(max-width:417px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
    .anav:hover{
      font-size: 20px;
    }
    .btn{
      font-size: 12px;
      position: absolute;
      top: 2rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 3.5px;
  
    }
    .btn1{
      font-size: 12px;
      position: absolute;
      top: 3.8rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 3.5px; 
  }
     h1{
    font-size: 1.2rem;
    color: aliceblue;
    position: absolute;
    left: 0.8cm;
    top: 2.2rem;
  }
h1:hover{
   font-size:1.8rem;
}
h2{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 0.4cm;
   top: 4rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size:15px;
   color: aliceblue;
   position: absolute;
   left: 0.2cm;
   top: 5.5rem;
   font-family: serif;
}
h3{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left:7px;
   top: 11.5rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 12.5rem;
   left: 0.5cm;
   font-family: serif;
   font-size: 1rem;
}
.div1{
   position: absolute;
   width: 10rem;
   height: 10rem;
   background-image: url(/download\ \(2\).jpg);
   left: 9rem;
   top: 15rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 10rem;
   height: 11rem;
   background-image: url(/traficlights.png);
   left: 9rem;
   top: 26rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 6rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 30rem;
   left: 2rem; 
}   
}
@media(max-width:391px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
    .anav:hover{
      font-size: 20px;
    }
    .btn{
      font-size: 15px;
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px;
  
    }
    .btn1{
      font-size: 15px;
      position: absolute;
      top: 3.8rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px; 
  }
     h1{
    font-size: 1.2rem;
    color: aliceblue;
    position: absolute;
    left: 0.8cm;
    top: 2.2rem;
  }
h1:hover{
   font-size:1.8rem;
}
h2{
   font-size: 1.1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 4rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size:14.6px;
   color: aliceblue;
   position: absolute;
   left: 0.2cm;
   top: 5.9rem;
   font-family: serif;
}
h3{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 11rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 12.2rem;
   left: 2px;
   font-family: serif;
   font-size: 1rem;
}
.div1{
   position: absolute;
   width: 10rem;
   height: 10rem;
   background-image: url(/download\ \(2\).jpg);
   left: 9rem;
   top: 15rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 10rem;
   height: 11rem;
   background-image: url(/traficlights.png);
   left: 9rem;
   top: 26rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 6rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 30rem;
   left: 2rem; 
}   
}
@media(max-width:382px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 14px;
    }
    .anav:hover{
      font-size: 17px;
    }
    .btn{
      font-size: 12px;
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px;
  
    }
    .btn1{
      font-size: 12px;
      position: absolute;
      top: 3.2rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px; 
  }
     h1{
    font-size: 1.2rem;
    color: aliceblue;
    position: absolute;
    left: 0.8cm;
    top: 2.2rem;
  }
h1:hover{
   font-size:1.5rem;
}
h2{
   font-size: 1.1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 4rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 14px;
   color: aliceblue;
   position: absolute;
   left: 0.1cm;
   top: 5.5rem;
   font-family: serif;
}
h3{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 12rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 13.2rem;
   left: 0.5cm;
   font-family: serif;
   font-size: 1rem;
}
.div1{
   position: absolute;
   width: 10rem;
   height: 10rem;
   background-image: url(/download\ \(2\).jpg);
   left: 9rem;
   top: 15rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 10rem;
   height: 11rem;
   background-image: url(/traficlights.png);
   left: 9rem;
   top: 26rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 6rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 30rem;
   left: 2rem; 
}   
}
@media(max-width:360px){
   .anav {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
    .anav:hover{
      font-size: 20px;
    }
    .btn{
      font-size: 15px;
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px;
  
    }
    .btn1{
      font-size: 15px;
      position: absolute;
      top: 3.8rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 5px; 
  }
     h1{
    font-size: 1.2rem;
    color: aliceblue;
    position: absolute;
    left: 0.8cm;
    top: 2.2rem;
  }
h1:hover{
   font-size:1.8rem;
}
h2{
   font-size: 1.1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 4rem;
   font-family:serif;
   font-style:unset;
}
.p1{
   font-size: 13px;
   color: aliceblue;
   position: absolute;
   left: 0.2cm;
   top: 5.5rem;
   font-family: serif;
}
h3{
   font-size: 1rem;
   color: aliceblue;
   position: absolute;
   left: 1cm;
   top: 12rem;
   font-family: serif;
}
.p2{
   color: aliceblue;
   position: absolute;
   top: 13.2rem;
   left: 0.5cm;
   font-family: serif;
   font-size: 1rem;
}
.div1{
   position: absolute;
   width: 10rem;
   height: 10rem;
   background-image: url(/download\ \(2\).jpg);
   left: 9rem;
   top: 15rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;
}
.div2{
   position: absolute;
   width: 10rem;
   height: 11rem;
   background-image: url(/traficlights.png);
   left: 9rem;
   top: 26rem;
   background-size: cover;
   border-radius: 2rem;
   outline: auto;   
}
.span1{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 23rem;
   left: 6rem;
}
.span2{
   color: aliceblue;
   position: absolute;
   font-size: 1rem;
   top: 30rem;
   left: 2rem; 
}   
}
@media(max-width:361){
   .p1{
      font-size: 13px;
      color: aliceblue;
      position: absolute;
      left: 0.2cm;
      top: 5.5rem;
      font-family: serif;
   }
}
@media(max-width:351){
   .anav:hover{
      font-size: 12px;
    }
    .btn{
      font-size: 9px;
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 3px;
  
    }
    .btn1{
      font-size: 9px;
      position: absolute;
      top: 3.8rem;
      right: 1rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 3%; 
  } 
}
@media(max-width:278){
   .anav:hover{
      font-size: 10px;
    }
    .btn{
      font-size: 7px;
      position: absolute;
      top: 1.5rem;
      right: 0.5rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 3px;
  
    }
    .btn1{
      font-size: 7px;
      position: absolute;
      top: 3.8rem;
      right: 0.5rem;
      border-radius: 10px;
      background-color: #142a0685;
      color: aliceblue;
      padding: 3%; 
  }
}